# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/tmp
build/resources
build/classes
build/reports
build/test-results

# Ignore lucene search index
lucene
/build/
