<html>
<head th:fragment="header(head_elements)">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title th:text="${@environment.getProperty('INSTANCE_NAME')}">Weblog</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" th:href="@{/webjars/w3-css/w3.css}">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
<link rel="stylesheet" th:href="@{'/css/themes/' + ${user.theme} + '.css'}">
<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{/webjars/leaflet/leaflet.css}" />
<link rel="stylesheet" th:href="@{/css/L.fullscreen.css}" />
<link rel="stylesheet" th:href="@{/css/L.cluster.css}" />
<link rel="stylesheet" th:href="@{/css/flag-icon.min.css}" />
<link rel="stylesheet" th:href="@{/css/MarkerCluster.css}" />
<link rel="stylesheet" th:href="@{/css/MarkerCluster.Default.css}" />

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/apple-icon-57x57.png}">
<link rel="apple-touch-icon" sizes="60x60"
	th:href="@{/apple-icon-60x60.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/apple-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/apple-icon-76x76.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/apple-icon-114x114.png}">
<link rel="apple-touch-icon" sizes="120x120"
	th:href="@{/apple-icon-120x120.png}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/apple-icon-144x144.png}">
<link rel="apple-touch-icon" sizes="152x152"
	th:href="@{/apple-icon-152x152.png}">
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/apple-icon-180x180.png}">
<link rel="icon" type="image/png" sizes="192x192"
	th:href="@{/android-icon-192x192.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/favicon-96x96.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/favicon-16x16.png}">
<link rel="manifest" th:href="@{/manifest.json}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	th:content="@{/ms-icon-144x144.png}">
<meta name="theme-color" content="#ffffff">

<!-- fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap"
	rel="stylesheet">

	<style>
	input.monospace {
		font-family: 'Roboto Mono', monospace;
	}
	
	.monospace {
		font-family: 'Roboto Mono', monospace;
	}
	
	#map {
		height: 600px;
	}
	</style>
	
	<th:block th:if="${head_elements != null}">
		<th:block th:replace="${head_elements}" />
	</th:block>
</head>
<body>

</body>
</html>