.w3-scout-l5 {color:#000 !important; background-color:#f7f0fe !important}
.w3-scout-l4 {color:#000 !important; background-color:#e3cdfb !important}
.w3-scout-l3 {color:#000 !important; background-color:#c79cf6 !important}
.w3-scout-l2 {color:#fff !important; background-color:#ac6af2 !important}
.w3-scout-l1 {color:#fff !important; background-color:#9038ee !important}
.w3-scout-d1 {color:#fff !important; background-color:#6911c6 !important}
.w3-scout-d2 {color:#fff !important; background-color:#5d0fb0 !important}
.w3-scout-d3 {color:#fff !important; background-color:#520d9a !important}
.w3-scout-d4 {color:#fff !important; background-color:#460c84 !important}
.w3-scout-d5 {color:#fff !important; background-color:#3a0a6e !important}

.w3-scout-light {color:#000 !important; background-color:#f7f0fe !important}
.w3-scout-dark {color:#fff !important; background-color:#3a0a6e !important}
.w3-scout-action {color:#fff !important; background-color:#3a0a6e !important}

.w3-scout {color:#fff !important; background-color:#7413dc !important}
.w3-text-scout {color:#7413dc !important}
.w3-text-scout:hover {color:#5d0fb0 !important}
.w3-border-scout {border-color:#7413dc !important}

.w3-hover-scout:hover {color:#fff !important; background-color:#7413dc !important}
.w3-hover-text-scout:hover {color:#7413dc !important}
.w3-hover-border-scout:hover {border-color:#7413dc !important}