<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" th:href="@{/webjars/w3-css/w3.css}">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/css/app.css}">
	<link rel="stylesheet" th:href="@{/css/scout.theme.css}">
</head>
<body>
	<div class="w3-row">
		<div class="w3-col m3 l4">&nbsp;</div>
		<div class="w3-col s12 m6 l4">
			<div class="w3-border">
				<div class="w3-container w3-theme">
					<h1><img th:src="${@environment.getProperty('INSTANCE_LOGO_SRC')}" class="svg login-logo" /> <span th:text="${status}"></span> <span th:text="${error} ?: 'Error'"></span></h1>
				</div>
				
				<div th:if="${message}" class="w3-container">
					<p th:text="${message}" />
				</div>
				
				<div th:if="${exception}" class="w3-container">
					<p th:text="${exception}" />
				</div>
				
				<div th:if="${trace}" class="w3-container">
					<p th:text="${trace}" />
				</div>
				
				<div class="w3-container w3-theme">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>