<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header(~{::meta})" />
<body class="w3-theme-background">

	<!-- navbar -->
		<div th:replace="fragments/navbar :: navbar" />
	<!-- end navbar -->	

	<!-- Left sidebar menu (File import/export, settings etc.) -->
		<div sec:authenticated="isAuthenticated()" th:replace="fragments/sidebar-menu :: sidebar-menu" />
	<!-- end left sidebar menu -->

	<!-- Right sidebar menu (DX Cluster etc.) -->
		<div th:replace="fragments/dx-cluster :: dx-cluster" />
	<!-- end right sidebar menu -->

	<!-- content pane -->
	<div class="w3-row" style="margin-top: 20px;">
		<div class="w3-quarter">
			<div class="w3-container">
				<header class="w3-container w3-theme-l3">
				  <h4>Total Contacts Logged</h4>
				</header>
				<div class="w3-container w3-theme-l5 w3-center">
				  <h1 th:text="${TotalContacts}"></h1>
				</div>
				<footer class="w3-container w3-theme-l3">
				  <h5>Since <span th:text="${firstContactTimeAgo}"></span></h5>
				</footer>
			</div>
			<br />
			<div class="w3-container">
				<header class="w3-container w3-theme-l3">
				  <h4>Last Contact was with</h4>
				</header>
				<div class="w3-container w3-theme-l5 w3-center">
				  <h1 th:text="${latestContactCallsign}"></h1>
				  <h3 th:text="${latestContactName}"></h3>
				</div>
				<footer class="w3-container w3-theme-l3">
				  <h5 th:text="${latestContactTimeAgo}">Footer</h5>
				</footer>
			</div>
			<br />
			<div class="w3-container">
				<header class="w3-container w3-theme-l3">
				  <h4>Check the Log</h4>
				</header>
				<div class="w3-container w3-theme-l5">
				  <input type="text" class="w3-input" placeholder="Your callsign" id="checkLogCallsign" />
				</div>
				<footer class="w3-container w3-theme-l3">
				  <button class="w3-button w3-right" onclick="document.getElementById('checkLogModal').style.display='block';checkLog(document.getElementById('checkLogCallsign').value)">Check Log</button>
				</footer>
			</div>
			
			<!-- Check Log Modal -->
			<div id="checkLogModal" class="w3-modal" style="z-index: 2000;">
			  <div class="w3-modal-content">
			    <header class="w3-container w3-theme">
			      <span onclick="document.getElementById('checkLogModal').style.display='none'"
			      class="w3-button w3-display-topright">&times;</span>
			      <h2>Log Check</h2>
			    </header>
			    <div class="w3-container">
			      <table class="w3-table w3-striped">
			      	<thead>
			      		<tr>
			      			<th>Date/Time</th>
			      			<th>Callsign</th>
			      			<th>Band</th>
			      			<th>Mode</th>
			      		</tr>
			      	</thead>
			      	<tbody id="checkLogResults" >
			      		
			      	</tbody>
			      </table>
			    </div>
			    <footer class="w3-container w3-theme">
			      <p>QSL Cards will be sent via the bureau. Please send cards to us directly to our callsign (no QSL Mgr). Logs will also be uploaded to LoTW and eQSL.</p>
			    </footer>
			  </div>
			</div> <!-- End Check log -->
		</div>
		<div class="w3-container w3-half">
			<div id="map" class="w3-container"></div>
		</div>
		<div class="w3-container w3-quarter">
			<table class="w3-table w3-striped">
				<thead class="w3-theme-l3">
					<tr>
						<th>HF</th>
						<td>Contacts</td>
					</tr>
				</thead>
				<tr th:if="${band_160M > 0}">
					<td>160M</td>
					<td th:text="${band_160M}"></td>
				</tr>
				<tr th:if="${band_80M > 0}">
					<td>80M</td>
					<td th:text="${band_80M}"></td>
				</tr>
				<tr th:if="${band_60M > 0}">
					<td>60M</td>
					<td th:text="${band_60M}"></td>
				</tr>
				<tr th:if="${band_40M > 0}">
					<td>40M</td>
					<td th:text="${band_40M}"></td>
				</tr>
				<tr th:if="${band_30M > 0}">
					<td>30M</td>
					<td th:text="${band_30M}"></td>
				</tr>
				<tr th:if="${band_20M > 0}">
					<td>20M</td>
					<td th:text="${band_20M}"></td>
				</tr>
				<tr th:if="${band_17M > 0}">
					<td>17M</td>
					<td th:text="${band_17M}"></td>
				</tr>
				<tr th:if="${band_15M > 0}">
					<td>15M</td>
					<td th:text="${band_15M}"></td>
				</tr>
				<tr th:if="${band_12M > 0}">
					<td>12M</td>
					<td th:text="${band_12M}"></td>
				</tr>
				<tr th:if="${band_10M > 0}">
					<td>10M</td>
					<td th:text="${band_10M}"></td>
				</tr>
				<thead class="w3-theme-l3">
					<tr>
						<th colspan="2">VHF/UHF</th>
					</tr>
				</thead>
				<tr th:if="${band_6M > 0}">
					<td>6M</td>
					<td th:text="${band_6M}"></td>
				</tr>
				<tr th:if="${band_4M > 0}">
					<td>4M</td>
					<td th:text="${band_4M}"></td>
				</tr>
				<tr th:if="${band_2M > 0}">
					<td>2M</td>
					<td th:text="${band_2M}"></td>
				</tr>
				<tr th:if="${band_70CM > 0}">
					<td>70CM</td>
					<td th:text="${band_70CM}"></td>
				</tr>
			</table>
		</div>
	</div>
	<!-- end content pane -->

	<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/foundation/dist/js/foundation.min.js}"></script>
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
	<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
	<script th:src="@{/webjars/leaflet/leaflet.js}"></script>
	<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
	<script th:src="@{/js/rigctl-ws.js}"></script>
	<script th:src="@{/js/L.MaidenheadColoured.js}"></script>
	<script th:src="@{/js/L.Heatmap.min.js}"></script>
	<script th:src="@{/js/L.fullscreen.js}"></script>
	<script th:src="@{/js/L.icons.js}"></script>
	<script th:src="@{/js/leaflet.markercluster.js}"></script>
	<script th:src="@{/js/app.js}"></script>
	<script th:inline="javascript">
	var BANDS = ['2M', '70CM'];
	//var color = Chart.helpers.color;
	var horizontalBarChartData = {
		labels: BANDS,
		datasets: [{
			label: 'Band Stats',
			backgroundColor: '#00f',
			borderColor: '#f00',
			borderWidth: 1,
			data: [
				/*[[${band_2M}]]*/ 0,
				/*[[${band_70CM}]]*/ 0
			]
		}]
	};
	
	window.onload = function() {
		var ctx = document.getElementById('bandStatsChart').getContext('2d');
		window.myHorizontalBar = new Chart(ctx, {
			type: 'horizontalBar',
			data: horizontalBarChartData,
			options: {
				// Elements options apply to all of the options unless overridden in a dataset
				// In this case, we are setting the border of each horizontal bar to be 2px wide
				elements: {
					rectangle: {
						borderWidth: 2,
					}
				},
				responsive: true,
				legend: {
					position: 'right',
				},
				title: {
					display: true,
					text: 'Chart.js Horizontal Bar Chart'
				}
			}
		});
	};
	
	// Run postloading functions
	mapPostLoad();
	
	</script>
</body>

</html>