<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header(~{::meta})" />
<body>

	<!-- navbar -->
		<div th:replace="fragments/navbar :: navbar" />
	<!-- end navbar -->	
	
	<!-- Left sidebar menu (File import/export, settings etc.) -->
		<div th:replace="fragments/sidebar-menu :: sidebar-menu" />
	<!-- end sidebar menu -->
	
	<!-- Right sidebar menu (DX Cluster etc.) -->
	<div th:replace="fragments/dx-cluster :: dx-cluster" />

	<!-- content pane -->
	<div class="w3-row">
		<div class="w3-container w3-col s12 m5 l3">
			<!-- Show/hide button (on mobile) -->
			<button onclick="toggleSmallPanel('log-input-header', 'log-input-form')" id="log-input-header" class="w3-button w3-block w3-left-align w3-hide-large w3-hide-medium"><i class="fas fa-chevron-down"></i> <span th:text="#{lang.showLogInput}"></span></button>
			
			<!-- input panel tabs content -->

				<form id="log-input-form" class="grid-container w3-hide-small" style="margin-top: 10px;" action="#" autocomplete="off"
					th:action="${submitUrl} ? ${submitUrl} : @{/log/addcontact}"
					th:object="${contact}" method="post">

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="logbook"><span th:text="#{lang.logbook}"></span></label>
							<select class="w3-select w3-border" id="logbook" name="logbook">
								<option th:each="logbook : ${user.logbooks}" th:value="${logbook.id}" th:text="${logbook.name}" th:selected="${logbook.id==activelogbook.id}"></option>
							</select>
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="datetime"><span th:text="#{lang.date_time}"></span></label>
							<input class="w3-input w3-border monospace" type="datetime"
								th:field="*{timestamp}" id="timestamp" th:placeholder="#{lang.date_time}"
								ondblclick="javascript: document.getElementById('timestamp').value=new Date()" />
							<div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-border"
								th:if="${#fields.hasErrors('timestamp')}"
								th:errors="*{timestamp}"></div>
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="callsign"><span th:text="#{lang.callsign}"></span></label>
							<input type="text" class="w3-input w3-border monospace uppercase"
								th:field="*{callsign}" id="callsign" th:placeholder="#{lang.callsign}" />
							<div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-border"
								th:if="${#fields.hasErrors('callsign')}" th:errors="*{callsign}"></div>
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="rsts"><span th:text="#{lang.report_sent}"></span></label>
							<input type="text" class="w3-input w3-border monospace"
								th:field="*{rsts}" id="rsts" value="59" />
						</div>
						<div class="w3-container w3-cell">
							<label for="rsts"><span th:text="#{lang.report_received}"></span></label>
							<input type="text" class="w3-input w3-border monospace"
								th:field="*{rstr}" id="rstr" value="59" />
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="location"><span th:text="#{lang.location}"></span></label>
							<input type="text" class="w3-input w3-border monospace"
								th:field="*{location}" id="location" />
						</div>
						<div class="w3-container w3-cell">
							<label for="name"><span th:text="#{lang.name}"></span></label> <input
								type="text" class="w3-input w3-border monospace"
								th:field="*{name}" id="name" />
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<label for="frequency"><span th:text="#{lang.frequency}"></span></label>
							<input type="text" class="w3-input w3-border monospace"
								th:field="*{frequency}" data-item-id="frequency" />
						</div>
						<div class="w3-container w3-cell autocomplete">
							<label for="band"><span th:text="#{lang.band}"></span></label> <input
								type="text" class="w3-input w3-border monospace"
								th:field="*{band}" id="band" />
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell autocomplete">
							<label for="mode"><span th:text="#{lang.mode}"></span></label> <input
								type="text" class="w3-input w3-border monospace uppercase"
								th:field="*{mode}" data-item-id="mode" />
						</div>
						<div class="w3-container w3-cell">
							<label for="opName"><span th:text="#{lang.opname}"></span></label>
							<input type="text" class="w3-input w3-border monospace"
								th:field="*{opName}" data-item-id="opName" />
						</div>
					</div>
					
					<input type="button"
						onclick="toggleElement('extended-info'); return false;"
						id="log-input-extended"
						class="w3-button w3-block w3-left-align">
							<i class="fas fa-chevron-down"></i>
							<span th:text="#{lang.showExtendedInfo}"></span>
					</input>
					
					<div id="extended-info" class="w3-hide">
						<div class="w3-cell-row">
							<div class="w3-container w3-cell autocomplete">
								<label for="mode"><span th:text="#{lang.jid_code}"></span></label> <input
									type="text" class="w3-input w3-border monospace uppercase"
									th:field="*{jid_code}" data-item-id="jid_code" />
								<div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-border"
									th:if="${#fields.hasErrors('jid_code')}"
									th:errors="*{jid_code}"></div>
							</div>
						</div>
						<div class="w3-cell-row">
							<div class="w3-container w3-cell">
								<label for="power"><span th:text="#{lang.power}"></span></label> <input
									type="text" class="w3-input w3-border monospace uppercase"
									th:field="*{power}" data-item-id="power" />
							</div>
							<div class="w3-container w3-cell">
								<label for="rig"><span th:text="#{lang.rig}"></span></label>
								<input type="text" class="w3-input w3-border monospace"
									th:field="*{rig}" data-item-id="rig" />
							</div>
						</div>

						<div class="w3-cell-row">
							<div class="w3-container w3-cell">
								<label for="antennaAz"><span th:text="#{lang.azimuth}"></span></label> <input
									type="text" class="w3-input w3-border monospace uppercase"
									th:field="*{antennaAz}" data-item-id="antennaAz" />
							</div>
							<div class="w3-container w3-cell">
								<label for="antennaEl"><span th:text="#{lang.elevation}"></span></label>
								<input type="text" class="w3-input w3-border monospace"
									th:field="*{antennaEl}" data-item-id="antennaEl" />
							</div>
						</div>

						<div class="w3-cell-row">
							<div class="w3-container w3-cell">
								<label for="antennaPath"><span th:text="#{lang.path}"></span></label> <input
									type="text" class="w3-input w3-border monospace uppercase"
									th:field="*{antennaPath}" data-item-id="antennaPath" />
							</div>
							<div class="w3-container w3-cell">
								<label for="email"><span th:text="#{lang.email}"></span></label>
								<input type="text" class="w3-input w3-border monospace"
									th:field="*{email}" data-item-id="email" />
							</div>
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<fieldset class="fieldset">
								<legend>
									<span th:text="#{lang.qsl}"></span>
								</legend>
								<input class="w3-check" id="qsl_req" type="checkbox"
									th:field="*{qsl_req}"><label for="qsl_req"
									th:text="#{lang.requested}"></label><br /> <input
									class="w3-check" id="qsl_sent" type="checkbox"
									th:field="*{qsl_sent}"><label for="qsl_sent"
									th:text="#{lang.sent}"></label><br /> <input
									class="w3-check" id="qsl_rcvd" type="checkbox"
									th:field="*{qsl_rcvd}"><label for="qsl_rcvd"
									th:text="#{lang.received}"></label>
							</fieldset>
						</div>
					</div>

					<div class="w3-cell-row">
						<div class="w3-container w3-cell">
							<input type="submit" class="w3-button w3-theme w3-block"
								th:value="#{lang.log}">
						</div>
					</div>
				</form>
		</div>


		<!-- Info Div -->
		<div class="info-box w3-hide-small">
			<div class="w3-row">
				<div class="w3-half w3-container">
					<div>
						<span id="callbook-tag-qslmgr" class="w3-tag w3-theme"
							style="visibility: hidden"></span> <span id="callbook-tag-lotw"
							class="w3-tag w3-theme-light" style="visibility: hidden">LoTW</span> <span
							id="callbook-tag-eqsl" class="w3-tag w3-theme-light"
							style="visibility: hidden">eQSL AG</span> <span
							id="callbook-tag-clublog" class="w3-tag w3-theme-light"
							style="visibility: hidden" th:text="#{lang.clublogUser}"></span>
					</div>
					<div>
						<span id="callbook-name" class="monospace"></span> <span
							id="callbook-callsign" class="monospace"></span> <span
							id="callbook-aliases" class="monospace"></span><br /> <span
							id="callbook-address" class="monospace"></span><br /> <span
							id="callbook-grid" class="monospace"></span>
					</div>
				</div>
				<div id="previous-contacts" class="w3-quarter w3-container"
					style="overflow: vertical;">
				</div>
				<div class="w3-quarter w3-container">
					<img id="callbook-image" class="img-responsive" />
				</div>
			</div>
		</div>

		<div class="w3-container w3-col s12 m7 l9" style="margin-top: 10px;">
			<div class="w3-bar">
				<a href="#" id="tab-list" class="w3-bar-item w3-button w3-right"
					onclick="openTab('display-tabs-panel', 'display-tab-list')"><i class="fas fa-list"></i> <span th:text="#{lang.list}"></span></a>
				<a href="#" id="tab-map" class="w3-bar-item w3-button w3-right"
					onclick="openTab('display-tabs-panel', 'display-tab-map'); map.invalidateSize(); map.fitBounds(markerLayer.getBounds()); mapPostLoad();"><i class="fas fa-map"></i> <span th:text="#{lang.map}"></span></a>
			</div>
			<div class="display-tabs-panel" id="display-tab-list">
				<div th:switch="${contacts}">
					<div class="w3-responsive" th:case="*">
						<table id="log-table" class="w3-table-all">
							<thead>
								<tr>
									<th><span th:text="#{lang.date_time}"></span></th>
									<th><span th:text="#{lang.callsign}"></span></th>
									<th><span th:text="#{lang.report_sent}"></span></th>
									<th><span th:text="#{lang.report_received}"></span></th>
									<th><span th:text="#{lang.band}"></span></th>
									<th><span th:text="#{lang.mode}"></span></th>
									<!-- <th><span th:text="#{lang.location}"></span></th> -->
									<th><span th:text="#{lang.name}"></span></th>
									<th><span th:text="#{lang.logbook}"></span></th>
									<th colspan="2"><span th:text="#{lang.actions}"></span></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="contact : ${contactList}" class="monospace">
									<td th:text="${contact.timestamp}"></td>
									<td th:text="${contact.callsign}"></td>
									<td th:text="${contact.rsts}"></td>
									<td th:text="${contact.rstr}"></td>
									<td th:text="${contact.band}"></td>
									<td th:text="${contact.mode}"></td>
									<!-- <td th:text="${contact.location}"></td> -->
									<td th:text="${contact.name}"></td>
									<td th:text="${contact.logbook.name}"></td>
									<td><a th:href="@{/log/edit/{id}(id=${contact.id})}"><i
											class="fas fa-edit w3-text-theme"></i></a></td>
									<td><a th:href="@{/log/delete/{id}(id=${contact.id})}"><i
											class="fas fa-trash w3-text-theme"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="w3-center" th:if="${totalPages gt 0}">
					<div class="w3-bar">
						<a
							th:href="@{?page={page}(page=${currentPage lt 2 ? 1 : currentPage})}"
							class="w3-bar-item w3-button" aria-label="Previous page"
							th:classappend="${currentPage eq 1} ? 'disabled'">&laquo;</a> <a
							class="w3-button disabled" th:if="${currentPage - 5 > 0}"
							aria-hidden="true">...</a> <a class="w3-button"
							th:classappend="${i eq currentPage} ? 'w3-theme'"
							th:each="i : ${#numbers.sequence( currentPage-5, totalPages > 10 + currentPage ? currentPage + 5 : totalPages, 1)}"
							th:if="${i>0 and i < totalPages}" th:href="@{|?page=${i}|}"
							th:text=${i}>1</a> <a class="w3-button disabled"
							th:if="${currentPage + 5 < totalPages}" aria-hidden="true">...</a>
						<a th:href="@{|?page=${currentPage+1}|}" aria-label="Next page"
							class="w3-button"
							th:classappend="${currentPage eq totalPages} ? 'disabled'">&raquo;</a>
					</div>
				</div>

			</div>
			<div class="display-tabs-panel" id="display-tab-map"
				style="display: none;">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<!-- end content pane -->
	
	<!-- Modal windows -->
	<div id="modal-add-logbook" class="w3-modal">
	  <div class="w3-modal-content">
	    <header class="w3-container w3-teal">
	      <span onclick="document.getElementById('modal-add-logbook').style.display='none'"
	      class="w3-button w3-display-topright">&times;</span>
	      <h2>Add Logbook</h2>
	    </header>
	
	    <form class="w3-container">
	      <label for="add-logbook-name">Logbook name</label>
	      <input class="w3-input" type="text" id="add-logbook-name" name="addNewLogbook" />
	      <input type="submit" value="Create Logbook" />
	    </form>
	
	    <footer class="w3-container w3-teal">
	      <p>Modal Footer</p>
	    </footer>
	
	  </div>
	</div>
	<!-- End Modals -->

	<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
	<th:block th:replace="fragments/scripts :: base_script(~{::script})">
		<script th:src="@{/webjars/leaflet/leaflet.js}"></script>
		<script th:src="@{/js/rigctl-ws.js}"></script>
		<script th:src="@{/js/L.MaidenheadColoured.js}"></script>
		<script th:src="@{/js/L.Heatmap.min.js}"></script>
		<script th:src="@{/js/L.fullscreen.js}"></script>
		<script th:src="@{/js/L.icons.js}"></script>
		<script th:src="@{/js/leaflet.markercluster.js}"></script>
		<script th:src="@{/js/dx-cluster.js}"></script>
		<script>
		// Autocomplete functionality
			var bands = ["160M", "80M", "60M", "40M", "30M", "20M", "17M", "15M", "12M", "10M", "6M", "4M", "2M", "70CM"];
			autocomplete(document.getElementById("band"), bands);
			
			var modes = ["USB", "LSB", "SSB", "CW", "FM", "AM", "PSK31", "PSK63", "RTTY", "FT8", "FT4", "JS8CALL", "JT9", "FSK441", "JT65", "JT4", "QRA64"];
			autocomplete(document.getElementById("mode"), modes);
		</script>
	</th:block>
</body>

</html>