<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header(~{::meta})" />
<body class="w3-theme-background">

	<!-- navbar -->
		<div th:replace="fragments/navbar :: navbar" />
	<!-- end navbar -->	

	<!-- Left sidebar menu (File import/export, settings etc.) -->
		<div sec:authenticated="isAuthenticated()" th:replace="fragments/sidebar-menu :: sidebar-menu" />
	<!-- end left sidebar menu -->

	<!-- Right sidebar menu (DX Cluster etc.) -->
		<div th:replace="fragments/dx-cluster :: dx-cluster" />
	<!-- end right sidebar menu -->

	<!-- content pane -->
	<div class="w3-row" style="margin-top: 20px;">
		<div class="w3-quarter">
			<div class="w3-container">
				<header class="w3-container w3-theme-highlight">
				  <h4>Total Contacts Logged</h4>
				</header>
				<div class="w3-container w3-center w3-theme-border">
				  <h1 th:text="${logbook.getContacts().size()}"></h1>
				</div>
				<footer class="w3-container w3-theme-highlight">
				  <h5>Since <span></span></h5>
				</footer>
			</div>
			<br />
			<div class="w3-container">
				<header class="w3-container w3-theme-highlight">
				  <h4>Last Contact was with</h4>
				</header>
				<div class="w3-container w3-center w3-theme-border">

				</div>
				<footer class="w3-container w3-theme-highlight">
				  
				</footer>
			</div>
			<br />
			<div class="w3-container">
				<header class="w3-container w3-theme-highlight">
				  <h4>Check the Log</h4>
				</header>
				<div class="w3-container w3-theme-border">
				  <input type="text" class="w3-input w3-border monospace uppercase" placeholder="Your callsign" id="checkLogCallsign" />
				</div>
				<footer class="w3-container w3-theme-highlight">
				  <button class="w3-button w3-right" onclick="document.getElementById('checkLogModal').style.display='block';checkLog(document.getElementById('checkLogCallsign').value)">Check Log</button>
				</footer>
			</div>
			
		</div>
		<div class="w3-container w3-half">
			<div id="map" class="w3-container"></div>
		</div>
		<div class="w3-container w3-quarter">

		</div>
	</div>
	<!-- end content pane -->
	
	<!-- Modal windows -->
	<div th:replace="fragments/modals :: modals"></div>
	<!-- End Modals -->

	<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
	<th:block th:replace="fragments/scripts :: base_script(~{::script})">

		<script th:src="@{/webjars/leaflet/leaflet.js}"></script>
		<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
		<script th:src="@{/js/rigctl-ws.js}"></script>
		<script th:src="@{/js/L.MaidenheadColoured.js}"></script>
		<script th:src="@{/js/L.Heatmap.min.js}"></script>
		<script th:src="@{/js/L.fullscreen.js}"></script>
		<script th:src="@{/js/L.icons.js}"></script>
		<script th:src="@{/js/leaflet.markercluster.js}"></script>
		<script th:inline="javascript">
		var BANDS = ['2M', '70CM'];
		//var color = Chart.helpers.color;
		var horizontalBarChartData = {
			labels: BANDS,
			datasets: [{
				label: 'Band Stats',
				backgroundColor: '#00f',
				borderColor: '#f00',
				borderWidth: 1,
				data: [
					/*[[${band_2M}]]*/ 0,
					/*[[${band_70CM}]]*/ 0
				]
			}]
		};
		
		window.onload = function() {
			var ctx = document.getElementById('bandStatsChart').getContext('2d');
			window.myHorizontalBar = new Chart(ctx, {
				type: 'horizontalBar',
				data: horizontalBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Chart.js Horizontal Bar Chart'
					}
				}
			});
		};
		
		// Run postloading functions
		mapPostLoad();
		
		</script>
	</th:block>
</body>

</html>