<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<link rel="stylesheet" th:href="@{/webjars/foundation/dist/css/foundation.min.css}">
	<link rel="stylesheet" th:href="@{/css/app.css}">
	<link rel="stylesheet" th:href="@{/webjars/foundation-icon-fonts/foundation-icons.css}">
</head>
<body>
	<div class="grid-x">
		<div
			class="cell small-12 medium-4 medium-offset-3 large-3 large-offset-4">
			<form name="f" th:action="@{/login}" method="POST"
				class="log-in-form">
				<h4>Login</h4>
				<div class="callout alert" th:if="${param.error}" th:text="#{message.badCredentials}"></div>
				<div class="callout success" th:if="${param.logout}" th:text="#{message.logoutSucc}"></div>
				<label>Username <input type='text' name='username' value='' /></label>
				<label>Password <input type='password' name='password' /></label>
				<p>
					<input type="submit" class="button expanded" value="Log in" onclick="validate()"></input>
				</p>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		function validate() {
			if (document.f.username.value == ""
					&& document.f.password.value == "") {
				alert("Username and password are required");
				document.f.username.focus();
				return false;
			}
			if (document.f.username.value == "") {
				alert("Username is required");
				document.f.username.focus();
				return false;
			}
			if (document.f.password.value == "") {
				alert("Password is required");
				document.f.password.focus();
				return false;
			}
		}
	</script>
</body>
</html>