<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::meta})" />
<body class="w3-theme-background">

	<!-- navbar -->
		<div th:replace="fragments/navbar :: navbar" />
	<!-- end navbar -->	
	
	<!-- Left sidebar menu (File import/export, settings etc.) -->
		<div th:replace="fragments/sidebar-menu :: sidebar-menu" />
	<!-- end sidebar menu -->
	
	<!-- Right sidebar menu (DX Cluster etc.) -->
	<div th:replace="fragments/dx-cluster :: dx-cluster" />
	
	<!-- content pane -->
	<div class="w3-row">

		<div th:if="${generatedPassword != null}" class="w3-panel w3-yellow w3-topbar w3-bottombar w3-border-amber">
			<p>Password set to: <span th:text="${generatedPassword}" class="monospace">[password]</span>
		</div>
		
		<div class="w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red" th:each="err : ${#fields.errors('global')}" th:text="${err}">Validation error</div>
	
		<form action="/admin/users/adduser" method="POST">
		<table class="w3-table-all">
			<thead>
				<tr>
					<th th:text="#{lang.id}">ID</th>
					<th th:text="#{lang.username}">Username</th>
					<th th:text="#{lang.enabled}">Enabled</th>
					<th th:text="#{lang.roles}">Roles</th>
					<th th:text="#{lang.logbooks}">Logbook Name</th>
					<th th:text="#{lang.locator}">Locator</th>
					<th th:text="#{lang.actions}">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${userList}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.username}"></td>
					<td>
						<i th:if="${user.enabled == true}" class="fas fa-check"></i>
						<i th:if="${user.enabled == false}" class="fas fa-times"></i>
					</td>
					<td>
						<div th:each="role : ${user.roles}">
							<span th:text="${role.name}">[role name]</span>
						</div>
					</td>
					<td>
						<div th:each="logbook : ${user.logbooks}">
							<span th:text="${logbook.name}">[logbook name]</span>
						</div>
					</td>
					<td>
						<span th:text="${user.locator}">[locator]</span>
					</td>
					<td>
						<div class="w3-dropdown-hover">
						  <button class="w3-button w3-theme-button"><i class="fas fa-ellipsis-v"></i></button>
						  <div class="w3-dropdown-content w3-bar-block w3-border">
							<a class="w3-bar-item w3-button" th:href="@{/admin/users/edit/{id}(id=${user.id})}"><i class="fas fa-user-edit"></i> <span th:text="#{lang.edit}" /></a>
							<a class="w3-bar-item w3-button" th:href="@{/admin/users/delete/{id}(id=${user.id})}"><i class="fas fa-user-times"></i> <span th:text="#{lang.delete}" /></a>
							<a class="w3-bar-item w3-button" th:if="${user.enabled == true}" th:href="@{/admin/users/disable/{id}(id=${user.id})}"><i class="fas fa-user-slash"></i> <span th:text="#{lang.disable}" /></a>
							<a class="w3-bar-item w3-button" th:if="${user.enabled == false}" th:href="@{/admin/users/enable/{id}(id=${user.id})}"><i class="fas fa-user"></i> <span th:text="#{lang.enable}" /></a>
							<a class="w3-bar-item w3-button" th:if="${user.admin == true}" th:href="@{/admin/users/make-non-admin/{id}(id=${user.id})}"><i class="fas fa-user"></i> <span th:text="#{lang.makeNonAdmin}" /></a>
							<a class="w3-bar-item w3-button" th:if="${user.admin == false}" th:href="@{/admin/users/make-admin/{id}(id=${user.id})}"><i class="fas fa-crown"></i> <span th:text="#{lang.makeAdmin}" /></a>
							<a class="w3-bar-item w3-button" th:href="@{/admin/users/resetpassword/{id}(id=${user.id})}"><i class="fas fa-key"></i> <span th:text="#{lang.resetPassword}" /></a>
						  </div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td><input class="w3-input w3-border" type="text" name="username" placeholder="username" /></td>
					<td><input class="w3-check" type="checkbox" name="enabled" /></td>
					<td><input class="w3-check" type="checkbox" name="admin" /></td>
					<td></td>
					<td><input class="w3-button w3-theme-button" type="submit" value="Create User" /></td>
				</tr>
			</tfoot>
		</table>
		</form>
	</div>
	<!-- end content pane -->

	<!-- Compiled and minified JavaScript -->
	<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/foundation/dist/js/foundation.min.js}"></script>
	<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
	<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
	<script th:src="@{/webjars/leaflet/leaflet.js}"></script>
	<script th:src="@{/js/rigctl-ws.js}"></script>
	<script th:src="@{/js/L.MaidenheadColoured.js}"></script>
	<script th:src="@{/js/L.fullscreen.js}"></script>
	<script th:src="@{/js/app.js}"></script>
	<script th:src="@{/js/dx-cluster.js}"></script>
	<script>
		
	</script>
</body>

</html>