<form action="#" th:action="@{/updatecontact/{id}(id=${user.id})}" th:object="${contact}" method="post">
    <label for="timestamp">Timestamp</label>
    <input type="text" th:field="*{timestamp}" id="timestamp" placeholder="Date/Time">
    <span th:if="${#fields.hasErrors('timestamp')}" th:errors="*{timestamp}"></span>
    <label for="callsign">Callsign</label>
    <input type="text" th:field="*{callsign}" id="callsign" placeholder="Callsign">
    <span th:if="${#fields.hasErrors('callsign')}" th:errors="*{callsign}"></span>
    <label for="rsts">RST (sent)</label>
    <input type="text" th:field="*{rsts}" id="rsts" placeholder="59">
    <label for="rstr">RST (rcvd)</label>
    <input type="text" th:field="*{rstr}" id="rstr" placeholder="59">
    <label for="location">Location</label>
    <input type="text" th:field="*{location}" id="location">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <input type="submit" value="Add Contact">
</form>