.tabs-title.is-active > a {
	background-color: white;
}

li.settings {
	padding-left: 30px;
	padding-right: 30px;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
  margin-top: 3em;
}

.page-item.active {
	font-weight: bold;
}

.button-group input{
  display: none;
}

.button-group input:checked + label,
.button-group input:checked + label:active {
  background-color: salmon;
}

.input-group-no-margin {
	margin: 0px;
}

.uppercase {
	text-transform: uppercase;
}