.w3-theme-text {color:#000 !important}
.w3-theme-border {border-color:#7413dc !important}
.w3-theme-background {color:#000 !important;background-color:#F3E0BE !important}
.w3-theme-highlight {color:#fff !important;background-color:#2A293E !important}
.w3-theme-button {color: #fff !important; background-color: #797B3A !important}
.w3-theme-info {color: #fff !important; background-color: #F96714 !important}