.w3-theme-text {color:#fff !important}
.w3-theme-border {border-color:#242582 !important}
.w3-theme-background {color:#fff !important;background-color:#2f2fa2 !important}
.w3-theme-highlight {color:#fff !important;background-color:#553d67 !important}
.w3-theme-button {color: #553d67 !important; background-color: #f64c72 !important}
.w3-theme-info {color: #553d67 !important; background-color: #f64c72 !important}
.w3-input {color: #fff !important; background-color: #2f2fa2 !important}
.w3-table-all tr:nth-child(odd) {
	color: #fff !important;
    background-color: #2f2fa2 !important;
}
.w3-table-all tr:nth-child(even) {
    color: #fff !important;
    background-color: #242582 !important;
}