.w3-theme-text {color:#7413dc !important}
.w3-theme-border {border-color:#7413dc !important}
.w3-theme-background {background-color: #fff !important}
.w3-theme-highlight {color: #fff !important; background-color: #7413dc !important}
.w3-theme-button {color: #fff !important; background-color: #7413dc !important}
.w3-theme-info {color: #fff !important; background-color: #7413dc !important}